


/* เปลี่ยนสีพื้นหลังของ Navbar */
.navbar {
    background-color: #343a40; /* สีดำ */
}

/* เปลี่ยนสีของลิงก์ใน Navbar */
.navbar-nav .nav-link {
    color: white !important; /* เปลี่ยนให้ข้อความในเมนูเป็นสีขาว */
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa !important; /* สีขาวเมื่อ hover */
}
/* เพิ่ม z-index เพื่อให้ Navbar อยู่ด้านหน้า */
.navbar {
    position: relative; /* ต้องใช้ position กำหนดตำแหน่ง */
    z-index: 1000; /* ค่า z-index ที่สูงให้ navbar อยู่ด้านหน้า */
}
